.menu-bar {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    top: 0;
    position: fixed;
    left: 0px;
    z-index: 99 !important;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    transition: var(--transition);
}

.p-menubar {
    background: var(--Linear, linear-gradient(102deg, var(--primary-color) 35.35%, var(--color-peach) 124.4%));
    border: 0;
    border-radius: 0;
    color: var(--text-color-light);
    height: 70px;
    span {
        color: var(--text-color-light);
    }
}


