.title-header {
    color: var(--primary-color);
    margin-bottom: 0;
}

.line-header {
    border-radius: 10px;
    border-top: 5px solid #db2777;
    width: 60px;
    margin-top: 0;
}

input, p-select, p-multiselect, p-inputnumber {
    width: 98%;
}

textarea, p-datepicker {
    width: 99%;
}

.required {
    color: var(--color-text-red);
}

.ng-invalid.ng-touched.p-inputtext,
.ng-invalid.ng-touched.p-select,
.ng-invalid.ng-touched.p-multiselect {
  border-color: var(--border-requied);
}
