$default-palettes: primary, secondary;
$alert-palettes: primary, success, warning, danger;
$all-palette: primary, secondary, success, warning, danger, info, light, dark, natural;
$tooltip-palette: primary, secondary, success, warning, danger, info;
 
@mixin background-opacity($color, $opacity: 0.3) {
  /* The Fallback */
  background: rgba($color, $opacity);
}
 
@mixin border-opacity($color, $opacity: 0.3) {
  /* The Fallback */
  border: 1px solid rgba($color, $opacity);
}
 