.p-datatable-table { background: none;}
.p-datatable-thead > tr > th {
  text-align: center;
  border: 1px solid #828282;
  border-left: 0;
  background: var(--table-header-color);
}

.p-datatable-thead > tr > th:first-child {
  border-left: 1px solid #828282;
  border-top-left-radius: 5px;
}

.p-datatable-thead > tr > th:last-child {
  border-top-right-radius: 5px;
}


.p-datatable-tbody > tr > td {
    border: 1px solid #828282;
    border-top: 0;
    border-left: 0;
}

.p-datatable-tbody > tr > td:first-child {
    border-left: 1px solid #828282;
}

.product-table .p-datatable-table {
  table-layout: fixed;
}
// .p-datatable-tbody > tr:last-child > td:first-child {
//     border-bottom-left-radius: 5px;
// }

// .p-datatable-tbody > tr:last-child > td:last-child {
//     border-bottom-right-radius: 5px;
// }
.p-datatable-tbody > tr > td:last-child {
    border-right: 1px solid #828282;
}
  
/* แถวคี่ */
.p-datatable-tbody > tr:nth-child(odd) {
  background: var(--table-row-odd, #ffffff);
}

/* แถวคู่ */
.p-datatable-tbody > tr:nth-child(even) {
  background: var(--table-row-even, #EDE6E6);
}

.p-datatable-tbody > tr > td {
  cursor: pointer;
}

p-paginator p-select { width: 100px }

.p-paginator {
  border: 1px solid #828282;
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  justify-content: end;
}

.p-datatable table {
  table-layout: fixed;
}

.p-datatable-thead {
  word-wrap: break-word;
  > tr {
    > th {
      text-align: center !important;
      width: 100px;
      
      &#thBarcode,
      &.thBarcode,
      &#thSku,
      &.thSku,
      &#thSupplier,
      &.thSupplier{
          width: 150px;
      }

      &#thFunctionName,
      &.thFunctionName {
          width: 170px;
      }

      &#thName,
      &.thName,
      &#thDescription,
      &.thDescription {
          width: 200px;
      }

      &#thCategory,
      &.thCategory {
          width: 110px;
      }
    }
  }
}

.p-datatable-tbody {
  word-wrap: break-word;
  > tr {
    > td {
      width: 100px;

      &#tdBarcode,
      &.tdBarcode,
      &#tdSku,
      &.tdSku,
      &#tdSupplier,
      &.tdSupplier {
          width: 150px;
      }

      &#tdFunctionName,
      &.tdFunctionName {
          width: 170px;
      }

      &#tdName,
      &.tdName,
      &#tdDescription,
      &.tdDescription {
          width: 200px;
      }

      &#tdUnit,
      &.tdUnit {
          width: 100px;
      }
      &#thCategory,
      &.thCategory {
          width: 110px;
      }
      &#tdAction,
      &.tdAction {
        .fa-solid.fa-pencil {
          color: var(--primary-color);
        }
        .fa-solid.fa-trash {
          color: var(--color-text-red);
        }
      }
    }
  }
}