:root {
    --primary-color: #10b981;
    --color-peach: #FFC7A0;
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --color-light-dark: #ffffff75;
    --color-light-green: #E6FFE6;
    --color-green: #00A300;
    --color-blue: #1565C0;
    --color-light-blue: #E3F2FD;
    --color-warm-gray: #EDE6E6;
    --color-text-dark: #212121;
    --color-text-dark-gray: #595959;
    --color-text-red: #BC1823;
    --color-text-light: #FFFFFF;
    --primary-button-hover: #6ee7b7;
    --text-color: #595959;
    --text-color-light: #FFFFFF;

    --table-header-color: #ecfdf5;

    --btn-bg-danger: #ed1c24;
    --btn-bg-danger-hover: #f4685f;
    --btn-bg-success: #11d278;
    --btn-bg-success-hover: #2dde8b;
    --btn-bg-warning: #f0ac1a;
    --btn-bg-warning-hover: #f4c55f;
    --btn-txt-danger: #FFFFFF;
    --btn-txt-success: #FFFFFF;
    --btn-txt-warning: #FFFFFF;
    --backdrop-bg: rgba(100, 100, 100, 0.32);
    --backdrop-filter: blur(5px)

}

