:root {
    --primary-color: #e00000;
    --color-peach: #FFC7A0;
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --color-light-green: #E6FFE6;
    --color-green: #00A300;
    --color-light-green: #1565C0;
    --color-green: #E3F2FD;
    --color-warm-gray: #EDE6E6;
    --color-text-dark: #212121;
    --color-text-dark-gray: #595959;
    --color-text-red: #BC1823;
    --color-text-light: #FFFFFF;
    --primary-button-hover: #FF5C5C;
    --text-color: #595959;
    --text-color-light: #FFFFFF;

    --p-primary-50:  #fdeaea;
    --p-primary-100: #f9c5c5;
    --p-primary-200: #f29a9a;
    --p-primary-300: #ea6f6f;
    --p-primary-400: #e34545;
    --p-primary-500: #e00000; 
    --p-primary-600: #c20000;
    --p-primary-700: #a80000;
    --p-primary-800: #8e0000;
    --p-primary-900: #6f0000;

}

