:root {
    --color-primary: #e00000;
    --color-peach: #FFC7A0;
    --color-dark: #212121;
    --color-light: #FFFFFF;
    --color-light-green: #E6FFE6;
    --color-green: #00A300;
    --color-light-green: #1565C0;
    --color-green: #E3F2FD;
    --color-warm-gray: #EDE6E6;
    --color-text-dark: #212121;
    --color-text-dark-gray: #595959;
    --color-text-red: #BC1823;
    --color-text-light: #FFFFFF;
}