.layout {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 1rem;
    overflow-y: auto;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: auto;
    margin-top: 80px;

}

.router-container {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
    background-color: #FFFFFF;
    margin: 20px;
    border-radius: 1.5rem;
    filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
}

app-menu-bar {
    position: sticky;
    top: 0;
    z-index: 1000;
}

app-left-menu {
    z-index: 502;
}

::ng-deep {
    .container-content-header {
        display: flex;
        flex: 1 1 auto;
        padding-bottom: 30px;
        justify-content: space-between;
    }
    .container-header-title {
        display: flex;
        align-items: center;
        color: #002890;
        > i {
            font-size: 27px;
        }
        > span {
            font-size: 27px;
            line-height: 1.75rem;
            font-weight: 500;
        }
    }

    .container-content {
        border-radius: 1.5rem;
        padding: 1rem;
        background-color: var(--color-bg-page);
        filter: drop-shadow(0px 4px 30px rgba(0, 0, 0, 0.15));
    }

    .p-menu {
        border: 0;
        min-width: 80px;
    }
}
