@use './styles/variable' as *;
@use './styles/p-menu.scss' as *;
@use './styles/container.scss' as *;
@use './styles/accordion.scss' as *;
@use './styles/button.scss' as *;
@use './styles/table.scss' as *;
@use './styles/dialog.scss' as *;

@layer tailwind-base, primeng, tailwind-components, tailwind-utilities;

// @tailwind base;
@tailwind components;
@tailwind utilities;


html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--surface-ground);
  color: var(--text-color);
}
