::ng-deep .p-progressspinner-circle {
    animation: none;
    stroke: #27F580;
}

.blockui-center {
  position: fixed;  
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;   
  justify-content: center;
}



.spinner-overlay {

  transform: none !important;
}